LOAD BALANCING ATTEMPT
database: 18.223.1.163
new server1: 18.188.47.102
new server2: 18.216.88.46
load balancer: 18.221.93.107

/* steps to execute */
sudo apt-get update && sudo apt-get upgrade -y
sudo apt-get install nginx -y
sudo vi /etc/nginx/nginx.conf

events {}
http {
    upstream backend {
        ip_hash; -- optional
        server 18.188.47.102:80;
        server 18.216.88.46:80;
    }
    server {
        listen 80;
        location / {
            proxy_pass http://backend;
        }
    }
}


sudo nginx -t
sudo systemctl restart nginx
sudo systemctl enable nginx